<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }

    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }

    .main.container {
      margin-top: 7em;
    }

    .wireframe {
      margin-top: 2em;
    }

    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>

</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="" class="header item">
        Ambrosius Club
      </a>
      <a href="/strikes" class="item">Strikes</a>
      <a href="/calendar" class="item">Kalender</a>
      <div class="ui simple dropdown item">
        <%= user.name %> <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="">Einstellungen</a>
          <a class="item" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <div class="column stackable ui grid">
    <div class="row">
      <div class="column">
        <h1>Strikes</h1>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Einzulösen bis</th>
              <th>Grund</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < strikes.length; i++) { %>
            <tr>
              <td data-label="Name"><%= strikes[i].name %></td>
              <td data-label="Einzulösen bis"><%= strikes[i].date.toDateString() %></td>
              <td data-label="Grund"><%= strikes[i].reason %></td>
            </tr>
            </li>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div class="column">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Strikes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Name">James</td>
            <td data-label="Strikes">24</td>
          </tr>
          <tr>
            <td data-label="Name">James</td>
            <td data-label="Strikes">24</td>
          </tr>
          <tr>
            <td data-label="Name">James</td>
            <td data-label="Strikes">24</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>


</body>

</html>
